a.active {
  color: black;
  font-weight: bolder;
}
ul.toc {
  border: solid 1px gray;
  padding: 10px;
  padding-left: 4em;
}
ul#markdown-toc {
  float: right;
  border: solid 1px gray;
  padding: 10px;
  padding-left: 2em;
  max-width: 22em;
}
div.memo {
  margin-left: 2em;
  margin-right: 2em;
}

/* http://ben.balter.com/2014/03/13/pages-anchor-links/ */
.header-link {
  opacity: 0;
  -webkit-transition: opacity 0.2s ease-in-out 0.1s;
  -moz-transition: opacity 0.2s ease-in-out 0.1s;
  -ms-transition: opacity 0.2s ease-in-out 0.1s;
}

h2, h3, h4, h5, h6 {
  position: relative;
}
h2:hover .header-link,
h3:hover .header-link,
h4:hover .header-link,
h5:hover .header-link,
h6:hover .header-link {
  opacity: 1;
}

